<div class='register-form-container'>  
  <h3>Create Your account</h3>
  <%= render 'form', user: @user %>
  <%= link_to 'You already have account? Sign in here', login_path, class: 'btn btn-default redirect-link pull-right' %>
</div>
