<h1>Latest posts</h1>
  <% @users.each do |user| %>
    <% unless user.posts.empty? %>
      <h4><%= user.name %></h4>
      <% user.posts.each do |post| %>
        <p><%= post.content %></p>
        <p><%= post.created_at %></p>
        <div class="comment">
          
        </div>
      <% end %>
    <% end %>
  <% end %>