@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #2f3033;
$secondary-color: #eee;

body {
  background-color: $secondary-color;
}
a {
  border: none;
  display: inline-block;
}
blockquote {
  margin: 50px 0 30px;
  border-left: 5px solid $primary-color;
  .post {
    margin: 0;
  }
}
.block {
  display: block;
}
.checkbox input[type='checkbox'] {
  margin: 2px 0 0;
}
.checkbox span {
  margin-left: 30px;
}
.main-nav li > a.active {
  color: #2f3033;
  background-color: $secondary-color;
}
.notice {
  margin: 0;
  position: fixed;
  background-color: $primary-color;
  color: #fff;
}
.thumb-img {
  height: 50px;
  width: 50px;
}
.normal-avatar {
  width: 150px;
  height: 150px;
}

/* HEADER */

header {
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  .main-nav {
    height: 50px;
    li {
      height: 50px;
      width: 15%;
      margin: 0;
      a {
        height: 48px;
        border-radius: 0;
        text-align: center;
        line-height: 25px;
        color: #fff;
        &:hover {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }
}
.user-name {
  text-align: center;
  font-size: 16px;
  display: block;
  line-height: 2.9em;
  color: $secondary-color;
}

/* END OF HEADER */

/* MAIN PAGE */

.post-author {
  margin: 60px 60px 10px 30px;
}
p.created-at {
  margin: 0 0 30px 20px;
  font-size: 10px;
}
.see-comments-btn {
  font-size: 12px;
  margin: 20px 0 0;
  .comments-count {
    right: -8px;
    font-size: 14px;
  }
}
.posts-container {
  margin: 0 50px;
  .see-comments-btn {
    margin: 20px 0;
  }
  h2 {
    text-align: center;
    margin: 80px 0 0;
  }
  .single-post {
    border-bottom: solid 1px $primary-color;
  }
}
.post-author {
  a {
    color: $primary-color;
  }
}
.post {
  font-size: 14px;
}



.comments-container {          /* comments field*/

  .comment {
    margin: 15px;
    font-size: 12px;
    &.comment:not(:first-child) {
      border-top: solid 1px #ccc;
      padding-top: 40px;
    }
  }
  .comment-author {
    font-size: 11px;
    margin: 15px;
    font-weight: bold;
    display: inline-block;
    width: 45%;
  }
  .created-at {
    width: 48%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
  }
  .add-comment {
    form {
      padding-top: 30px;
      textarea {
        width: 50%;
        height: 150px;
        padding: 8px;
      }
      .btn[type='submit'] {
        font-size: 12px;
      }
    }
  }
  .add-comment-btn {
    font-size: 12px;
    margin: 40px 0 0;
    a {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    }
  }
}
.login-required {
  margin-top: 30px;
  font-size: 12px;
}

/* END OF MAIN PAGE */

/* EDIT PAGE */

.edit-user-page {
  text-align: center;
}
form.edit_user {
  width: 60%;
  margin: 60px auto;
  float: left;
  text-align: left;
  input[type='submit'] {
    width: 100%;
    margin-top: 30px;
  }
}

/* END OF EDIT PAGE */

/* SIGN IN PAGE */

.login-form-container {
  margin: 120px auto 0;
  width: 45%;
  #login_form {
    margin-top: 80px;
    .btn[type='submit'] {
      width: 100%;
    }
  }
}
.redirect-link {
  margin-top: 20px;
}
/* END OF SIGN IN PAGE */


/* SIGN UP PAGE */

.register-form-container {
  margin: 100px auto 0;
  width: 45%;
  #register_form {
    margin-top: 80px;
    .btn[type='submit'] {
      width: 100%;
    }
  }
}

/* END OF SIGN UP PAGE */

/* PROFILE PAGE */

.profile-page {
  padding: 40px;
  aside {
    text-align: center;
  }
  .post {
    text-align: justify;
  }
  .add-post {
    margin: 80px 0 0 20px;
  }
  .created-at {
    margin: 30px 0 0;
  }
}
.edit-btn {
  display: block;
  width: 100px;
  margin-top: 20px;
}
.add-interests-btn, .see-friends-btn {
  display: block;
  width: 80%;
  margin: 30px auto;
}
.add-post-btn {
  margin-top: 40px;
}
#add_interest {
  form {
    width: 100%;
    margin: 30px 0 0;
    textarea {
      height: 150px;
    }
  }
}
.interests {
  margin: 20px 0;
}
.profile-post {
  background-color: #dedede;
  border-radius: 6px;
  margin: 40px 0;
  padding: 20px;
}


/* END OF PROFILE PAGE */