@import "bootstrap-sprockets";
@import "bootstrap";

a {
  border: none;
  display: inline-block;
  &:hover, &:focus {
    background-color: transparent;
    text-decoration: none;
  }
}
blockquote {
  margin: 50px 0 30px;
  border-left: 5px solid #a01c39;
  .post {
    margin: 0;
  }
}
.main-nav li > a.active {
  color: #fff;
  background-color: #a01c39;
}
.notice {
  margin: 0;
  position: fixed;
  background-color: #a01c39;
  color: #fff;
}
.thumb-img {
  height: 50px;
  width: 50px;
}

/* HEADER */

header {
  width: 100%;
  height: 50px;
  border-bottom: solid 2px #a01c39;
  .main-nav {
    height: 50px;
    li {
      height: 50px;
      width: 15%;
      margin: 0;
      a {
        height: 48px;
        border-radius: 0;
        text-align: center;
        line-height: 25px;
        color: #a01c39;
        &:hover {
          background-color: #C7ABB1;
          color: #fff;
        }
      }  
    }
  }
}
.user-name {
  text-align: center;
  font-size: 16px;
  display: block;
  line-height: 2.9em;
}

/* END OF HEADER */

/* MAIN PAGE */

.add-comment-btn {
  padding: 0;
  a {
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  }
}
.post-author {
  margin: 60px 60px 10px 30px;
}
p.created-at {
  margin: 0 0 30px 20px;
  font-size: 10px;
}
.see-comments-btn {
  font-size: 12px;
  margin: 0 0 20px 20px;
  .comments-count {
    right: -8px;
    font-size: 14px;
  }
}
.posts-container {
  h2 {
    text-align: center;
    margin: 80px 0 0;
  }
}


.comments-container {          /* comments field*/

  .comment {
    margin: 15px;
    font-size: 10px;
    &.comment:not(:first-child) {
      border-top: solid 1px #ccc;
      padding-top: 40px;
    }
  }
  .comment-author {
    font-size: 11px;
    margin: 15px;
    font-weight: bold;
    display: inline-block;
    width: 45%;
  }
  .created-at {
    width: 48%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
  }
  .add-comment {
    form {
      padding-top: 30px;
      textarea {
        width: 50%;
        height: 200px;
        padding: 8px;
      }
    }
  }
  .add-comment-btn {
    font-size: 12px;
    margin: 70px 0 0;
  }

}

/* END OF MAIN PAGE */

/* EDIT PAGE */

.edit-user-page {
  text-align: center;
}
form.edit_user {
  width: 60%;
  margin: 60px auto;
  input#user_avatar {
    display: inline-block;
  }
}

/* END OF EDIT PAGE */